page-chat {

}



.chat-profile-name{
	line-height: 44px;
    margin-left: 5px;
    color: white;
    font-size: 1.2em;
}

.input-chat{
	
	color: white;
}

.button-text-chat-left{
	
	text-transform: none;
	padding: 1.5em 1em !important;

    color: #474646 !important;
    background-color: #edede9 !important;
    font-size: 1.5rem !important;
}


.button-text-chat-left:hover{
	

    color: #474646  !important;
    background-color: #edede9 !important;
    font-size: 1.5rem !important;
}

.button-text-chat-right{
	
	text-transform: none;
	padding: 1.5em 1em !important;

	color: #ffffff !important;
    background-color: #3aaea7 !important;
    font-size: 1.5rem !important;
}


.button-text-chat-right:hover{
	

	color: #ffffff !important;
    background-color: #3aaea7 !important;
    font-size: 1.5rem !important;
}


