<ion-menu id="main" [content]="content" (ionOpen)="menuOpened()" >
  
  <ion-header class="custom-header-size">
    <ion-toolbar>
      
      <img *ngIf="profile_pic_url != ''" [src]="profile_pic_url" class="main-profile-image" /> 

      <span *ngIf="display_name != ''" class="main-profile-name">{{display_name}}</span>
    </ion-toolbar>
  </ion-header>

  <ion-content class="margin-top-menu-items">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
         <ion-icon name="{{p.icon}}"></ion-icon>
         {{p.title}}
      </button>

      <button menuClose ion-item (click)="signOut()">

        <ion-icon name="exit"></ion-icon>
        
        Salir
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>